*{padding: 0%;
margin: 0;
}
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: #f4e4ba;
}
.container h2{
    text-align: center;
}
.amount p{
    font-weight: 600;
}
.select-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    
}
.select-container select{
    font-size: 1rem;
    width: auto;
}
.dropdown i{
    font-size: 1rem;
    margin-top: 1rem;
}
.select-container img{
    max-width: 2rem;
}
.container{
    background-color:#fff ;
    min-height: 45vh;
    width: 40vh;
    border: 2px solid gray;
    padding: 2rem;
    border-radius: 0.75rem;
    
}
.from{
    border: 1px solid lightgray;
    border-radius: 0.75rem;
    padding: 0.2rem;
}
.from p{
    font-size: 1rem;
    font-weight: 600;
}
.to{
    border: 1px solid lightgray;
    border-radius: 0.75rem;
    padding: 0.2rem;
}
.to p{
    font-size: 1rem;
    font-weight: 600;
}
form{
    margin: 2rem 0 0;
}
.dropdown{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
   
}
form button,select,input{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.75rem;
}
form input{
    border :1px solid lightgray;
    padding-left: 0.5rem;
    font-size: 18px;
    height: 3rem;
}
.msg{
    margin-top: 2rem;
    font-size: 1.5rem;

}
form button{
    background: #af4d98;
    height: 2.5rem;
    margin-top: 2rem;
    font-weight: 500;
    font-size: 1.1rem;
    color: #fff;

}